.sacchaone-separator-title-area {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.sacchaone-toggle-control {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#customize-control-background_color,
#customize-control-body_text_color_control,
#customize-control-body_link_color_control,
#customize-control-body_link_hover_color_control,
#customize-control-header_background_colorr_control,
#customize-control-header_site_title_color_control,
#customize-control-header_tagline_color_control,
#customize-control-nav_background_color_control,
#customize-control-nav_hover_color_control,
#customize-control-nav_active_color_control,
#customize-control-nav_text_color_control,
#customize-control-nav_text_hover_color_control,
#customize-control-nav_text_active_color_control,
#customize-control-nav_sub_text_color_control,
#customize-control-nav_sub_text_hover_color_control,
#customize-control-nav_sub_text_active_color_control,
#customize-control-nav_sub_bg_color_control,
#customize-control-nav_sub_bg_hover_color_control,
#customize-control-nav_sub_bg_active_color_control,
#customize-control-button_bg_color_control,
#customize-control-button_bg_hover_color_control,
#customize-control-button_text_color_control,
#customize-control-button_text_hover_color_control,
#customize-control-button_border_color_control,
#customize-control-button_border_hover_color_control,
#customize-control-saccha_nav_hover_color_control,
#customize-control-saccha_nav_active_color_control,
#customize-control-saccha_nav_text_color_control,
#customize-control-saccha_nav_text_hover_color_control,
#customize-control-saccha_nav_text_active_color_control,
#customize-control-saccha_nav_sub_text_color_control,
#customize-control-saccha_nav_sub_text_hover_color_control,
#customize-control-saccha_nav_sub_text_active_color_control,
#customize-control-saccha_nav_sub_bg_color_control,
#customize-control-saccha_nav_sub_bg_hover_color_control,
#customize-control-saccha_nav_sub_bg_active_color_control,
#customize-control-sacchaone_nav_toggle_open_icon_color,
#customize-control-sacchaone_nav_toggle_close_icon_color {
    display: none;
}
/* .sacchaone-separator-control ul{
    background-color: #fff;
    cursor: hand;
}
.sacchaone-separator-control ul li{
    border-bottom: solid 1px #dcdcde;
} */
#customize-theme-controls .customize-pane-child.accordion-section-content {
    padding: 0;
}
ul#sub-accordion-section-colors .customize-control {
    margin: 0 !important;
}
ul#sub-accordion-section-colors .customize-control:not(.customize-control-sacchaone_separator) {
    padding: 12px;
    width: calc(100% - 24px);
}
.customize-control-sacchaone_separator {
    background-color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    
}
.customize-control-sacchaone_separator.showing {
    color: #2271b1;
}
ul#sub-accordion-section-colors .customize-control.customize-control-sacchaone_separator label.toggle-text {
    display: flex;
    align-items: center;
}
.customize-control-sacchaone_separator:hover {
    background-color: #f6f7f7;
    
}
ul#sub-accordion-section-colors .customize-control.customize-control-sacchaone_separator .customize-control-title {
    line-height: 1;
    margin: 0;
}
.sacchaone-toggle-control .dashicons {
    transform: rotate(0deg);
    transition: all .2s;
}
.showing .sacchaone-toggle-control .dashicons {
    transform: rotate(90deg);
}

#sub-accordion-section-colors .customize-control-title {
    font-weight: 400;
}
#sub-accordion-section-colors .sacchaone-separator-control .customize-control-title {
    font-weight: 600;
}